.header__left {
  @media only screen and(max-width:56.25em) {
    margin-top: 25%;
    width: 100%;
  }

  @media only screen and(max-width:37.5em) {
    margin-top: 40%;
  }

  &-heading {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 5rem;
    color: $color-white;
    line-height: 1;
    margin-bottom: 4rem;

    @media only screen and(max-width:37.5em) {
      font-size: 3rem;
      margin-bottom: 2rem;
    }
  }

  &-text {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 1.6rem;
    color: $color-white;
    width: 80%;
    margin-bottom: 4rem;

    @media only screen and(max-width:37.5em) {
      font-size: 1.3rem;
      margin-bottom: 2rem;
      font-weight: 300;
    }
  }

  &-btn {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 1.6rem;
    color: $color-white;

    @media only screen and(max-width:75em) {
      font-size: 1.4rem;
    }
  }
}
