$color-orange: #da722c;
$color-white: #e8f7fb;
$color-black: #070917;
$color-dark-blue: #6f7dfb;
$color-light-blue: #057ada;
$color-navy-blue: #023047;
$color-grey: #d9d9d9;

$border-radius-nm: 2.4rem;
$border-radius-md: 0.8rem;
$border-radius-sm: 0.4rem;
