.footer-section {
  background-color: $color-black;
  padding: 5rem 0;
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;

  @media only screen and(max-width:37.5em) {
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
  }
}
